<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/13/plot" value="false" />
    <add key="/intelcpu/0/load/14/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/temperature/11/plot" value="false" />
    <add key="/intelcpu/0/temperature/12/plot" value="false" />
    <add key="/intelcpu/0/temperature/13/plot" value="false" />
    <add key="/intelcpu/0/temperature/14/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/clock/9/plot" value="false" />
    <add key="/intelcpu/0/clock/10/plot" value="false" />
    <add key="/intelcpu/0/clock/11/plot" value="false" />
    <add key="/intelcpu/0/clock/12/plot" value="false" />
    <add key="/intelcpu/0/clock/13/plot" value="false" />
    <add key="/intelcpu/0/clock/14/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/level/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/data/1/plot" value="false" />
    <add key="/hdd/0/data/2/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="0" />
    <add key="mainForm.Location.Y" value="24" />
    <add key="mainForm.Width" value="504" />
    <add key="mainForm.Height" value="718" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="/hdd/0/factor/1/plot" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAIvaWXFfa8EdDwaGA/8BbyXlYwwAAAA=" />
    <add key="/hdd/0/level/0/values" value="H4sIAAAAAAAEAMt8UHFfa8EdDwaGA/8BOiKhAwwAAAA=" />
    <add key="/hdd/0/data/0/values" value="H4sIAAAAAAAEAMt8UHFfa8EdDwaGA/8BOiKhAwwAAAA=" />
    <add key="/hdd/0/data/1/values" value="H4sIAAAAAAAEAKtir7yvteCOBwPDgf8ALMDrmQwAAAA=" />
    <add key="/hdd/0/data/2/values" value="H4sIAAAAAAAEAKtir7yvteCOBwPDgf8ALMDrmQwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAKtir7yvteCOBwPDgf8ALMDrmQwAAAA=" />
    <add key="/hdd/0/factor/1/values" value="H4sIAAAAAAAEAKtir7yvteCOBwPDgf8ALMDrmQwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEADM1WnNfa8EdDwaGA/8B/ksZOwwAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAEt7veue1oI7HgwMB/6f4HVlYgADDqfV7TsEYGwANwQ1gCQAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAEt7veue1oI7HgwMB/7/bXJlYoCCkwk7BGBsADFD2+AkAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAGuy3H1Pa8EdDwaGA/9vPHNhYgACxoZTzn6xGWA2Q8IZ58I98RA2wwfn0ImJELbDOedzgskQ9Q8uO/+4kAQRL2Bw2cME1euw35n1ewKEDTQTABr4gPVsAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAGuy3H1Pa8EdDwaGA/9vPHNhYgACRgNDF7/YDDi7cE88hN3g5RI6MREufk4wGcJ+IO7y40ISXHwPUwZcnPV7AlwcAO4X6tlsAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJuQsPue1oI7HgwMB/6f2u/CxAAFs9t3CMDYAD1eFhMkAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJvfvvue1oI7HgwMB/4feebCxAAGrxxNzTKg7CWOE/bEQ9mHHEUmJkLZnxyVLZPh4lebkqDsVY4bNWF6bzkKXEiAspc5AgB5P4SFbAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEANt/dfc9rQV3PBgYDvxfMsOFiQEMHjmammVA2WscJ+yJh7IPOYpMTISy3zgqWyZD2SccrzYlQdkbHDdqwvRecRS4kABlr3AEAIGb3wxsAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEALvwZ/c9rQV3PBgYDvyfXOjCxAAFkyx3CMDYALHsc0YkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEALurvOee1oI7HgwMB/63ebkwMYBBg52pWQacPWFPPJTNYC8yMREurmyZDBNnuNqUBGU72G/UROgVuJAAVwMAr/6lA2wAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJMs2nNPa8EdDwaGA//DlV2YGIAg1CfSUYM/A8yeFhTpuIErAczmeRTueCwzEcxetzbcMTkhGcx26g1zvBSdBGZr34913KsJ0bsvKdbR6jtEr39KrCMAyGiEb2wAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAIs4sOee1oI7HgwMB/5LXHVmYgCCC/J3XTX4MyBsubuuG7gSwOwDkXddj2UmgtkKSXddkxOSwWyHCXddL0UngdmTUu647tWE6K2ouONq9R2i1wLIBgB56QU1bAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAPPn23tPa8EdDwaGA/8V252ZGIDgAEO3iwZ/BoTN0u2ygSsBzGaQ7HI5lpkIZjd873RJTkiGiNt3ulyKTgKzd7ztddmrCdGrMK/Xxeo7RK/C/F4XAMYb9jlsAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAAsw3XtPa8EdDwaGA/8VEpyZGEDgwX/XUwk7BGBsACgvFvQkAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAAsw3XtPa8EdDwaGA/+FLZ2ZGKDgZMIOARgbAEUEumokAAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAPvGuf+e1oI7HgwMB/5XdTsyMQDBhe1THRPNMsDswr3THcsfx4PZX2xnOJ6ekAhmezyc7BhnmQxm7y2Z6vi0KQnMdvg6w3EVE0TvA/4pjlbfE6B6ZzoCAH3LHlNsAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADOK2H9Pa8EdDwaGA/8vxLgyMYDBGZuS5gwoO8KmaWo8lN1jI9eVCGUvsZkimQxnc19OgrLP2cg/SIeyc2zk7GDqZWwA4PCGN2wAAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEANOo339Pa8EdDwaGA/+dbnsyMYDBBuuCAxlQNoO17cx4uPjv/EQou8Fqs2YylC1gLX0lCcJuWGdrdzcdKl5gfcUVpr7DGgBtVTxHbAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADteu/ae1oI7HgwMB/4/4HzDxAAEM0NknarvpoDZb1RlndqSIeyNKXJO/X8TwOzZB+ScTr+BsO2M5JzSLySB2bkCck5rMtPB7GkKMk59/RDx15eknADfG94xbAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPv2ae09rQV3PBgYDvzfOOU1EwMQtKd7OFbfTQGzhXQ8HNuSIWzZQ56O/X8TwGxDcy/H028g7NuNno7pF5LA7ONhno5rMtMhau67Ofb1Q8S1zFwdATpsBotsAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEANN1XHdPa8EdDwaGA/+r3F4zMQDBsd5ZjtV3U8DsxtWzHNuSIeyaBzMd+/8mgNmfls50PP0Gwp7DMMsx/UISmK0mNstxTWY6RE3gbMe+foh4qdocRwBQfnXUbAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAIswK7+nteCOBwPDgf+67elMDEAQMkvK8V1EKpitY7rA4bBMEpgtu8HKce3PRDCbN1zHkX0lRLz2/nIHF/NkMNu/kdlxRTXEnEWd6x1kPyZA1JTccAAAzNAT1GwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEACtsKb+nteCOBwPDgf8ilulMDEBw8r+C47uIVDC7IqnJ4bBMEpi9J/Otw9qfiWA2gwKDI/tKiDjDgRUOLubJYHaGdIPjimqIOT5rdjrIfkwAs0MD3joAAD5NUTtsAAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEANt+qfye1oI7HgwMB/6fe5XGxAAEB85Md3wXkQpm+/eoOx6WSQKzExarOq39mQhmMyRcdGRfCRFnWMDj6GKeDGYfWq7huKI6Hcw+wnfDQfZjApit9GCFIwAt9HpFbAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEANupUHFPa8EdDwaGA//PzEljYgCC3ycFHN9FpILZdzjXORyWSQKzK7c4Oq79mQhmb1oT7si+EiIedG+2g4t5MpgdLS3muKI6HcyuUS53kP2YAGYX6d9yAAC9KZ4tbAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADubV3FPa8EdDwaGA/93+KUxMQDBFcPnDu8iUsHsiqQmh8MySWD2/yp5x7U/E8HstJuOjuwrIeIMDA/tXcyTIeyGtw4rqtPBbLP1FQ6yHxMg4g5bHQD5Ndt9bAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEABPcW3FPa8EdDwaGA/9LGNKYGIBgmdk8h3cRqWC2iPUD+8MySWA2gwKD49qfiRA2wy8H9pVQcQZ9BxfzZAi7IddhRXU6mM3EoOAg+zEBKh7iAABJ95SibAAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEABPgrrynteCOBwPDgf+lm1KZGICgq3q+w7sICHvJDV2HwzJJYDb/lU6HtT8TwezJBz87sK+EiDM0WDu4mCeD2XEmiQ4rqtPB7J/Bbg6yHxPA7AvsiQ4AE9uHjWwAAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAItcXnlPa8EdDwaGA/91xFKZGIAgLuKqw7sICFsqisPhsEwSmB10odJh7c9EMDslstmBfSVEnIGhyt7FPBnK1ndYUZ0OZlttXGMv+zEBzJ6QOs0eADIVl2RsAAAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEACv4WnlPa8EdDwaGA/9FT6QwMQBBc3e847uIVDA70NXc8bBMEpjdu9fRce3PRDA7rdLCkX0lRDxtJ4+ji3kymO32PMpxRXU6mL3snJuj7McEMDtJ3dQRAONiDwtsAAAA" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEANvuXHVPa8EdDwaGA//PVaYwMQCB1epTDu8iUsHsG5xTHQ7LJIHZ+lLrHdb+TASzT2+64sC+EiJ+wqHZwcU8GcIG8lZUp4PZk6qnOMh+TACzUySnOQAA4mmXwmwAAAA=" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEANsyseqe1oI7HgwMB/5f1E5hYgCCtbcVHd9FpILZeQ/iHQ7LJIHZDA9iHdf+TISytR3ZV0LFG3Y7uJgng9kVIgyOK6rTwWyzqIsOsh8TwOyd5bccADXCyn5sAAAA" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAPtxv+qe1oI7HgwMB/733k1mYgCBq5qO7yJSweyKpC0Oh2WSwOyTzemOa38mgtmVV2Id2VdCxNWeX3FwMYfoPb3prcOK6nQwW2bCbAfZjwlgdorkegcAvtj7hWwAAAA=" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAOPSq76nteCOBwPDgf/V/clMDEDwYLWX47uIVDD7Rucbh8MySWD2eb9ox7U/E8FshoYQR/aVEHGGB0KOLuYQvadvRjmuqE4Hs9v5PR1lPyaA2ScYfjkAAIZSRotsAAAA" />
    <add key="/intelcpu/0/load/13/values" value="H4sIAAAAAAAEADOvqb6nteCOBwPDgf9+jslMDEDgv5DB8V1EKpgtstvK4bBMEpitPp3Nce3PRDD76HJ+R/aVEHGGAyscXMyT4ewV1elgtoCHm4PsxwQw+92RJgcAoOErGWwAAAA=" />
    <add key="/intelcpu/0/load/14/values" value="H4sIAAAAAAAEAPM6VX1Pa8EdDwaGA/+tPycxMQBBnICV47uIVDB7o3CFw2EZiDi7LLPj2p+JYDaDwzkH9pUQcQaGEw4u5slgtvOOtw4rqtPB7OWuax1kPyaA2RFM6x0AfpdJzGwAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHNvbbinteCOBwPDgf92FnFMDGBwy5GtIRXKPuW4+msilP3Kce3PRLga9pVJUPYFRxfzZCj7huOK6nQo+4qj7McEuDgASZp8OWwAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAAu/3HBPa8EdDwaGA//1XsUyMYDBLUedtAwo+5JjK388lM3itPZnIpT9xpF9ZRKUfc7RxTwZrndFdTqcLfsxAcp+4ggABlcTsmwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAKtUbLynteCOBwPDgf88c2KZGMDgmqNOWgaUfc6xlT8eyn7muPZnIpT9wJF9ZRKUfcnRxTwZyr7iuKI6Hc6W/ZgAZd9yBAB7ewRzbAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAGv1aLynteCOBwPDgf8MpbFMDGBwxVEnLQPKPuPYyh8PZd9zXPszEcq+4ci+MgnKPuXoYp4M17uiOh3KvuRoLAFTf8ERAAx8iFZsAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFs2rfGe1oI7HgwMB/7fV4tlYgCDC446aRlQ9inHGrN4KPue47ZLiVD2FUf2lUlQ9glHF/NkKPuc44rqdDjbWAKm/pIjAFHNjJlsAAAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAFPY13hPa8EdDwaGA/9T/8cwMYDBE0edtAwo+4ZjjVk8lP3McdulRCj7hSP7yiQo+5aji3kylP3AcUV1OpT9yNFYIhFuJgCv66VwbAAAAA==" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEALvN3XRPa8EdDwaGA/9XbYxhYgCDa446aRlQ9gnHGrN4KPuO47ZLiXA17CuToOwzji7myVD2BccV1elwtrEETP0VRwBob9/kbAAAAA==" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAHtq1HRPa8EdDwaGA/8XdMUwMYDBDces8kwo+4Tj1FlxUPY9x/jYRCj7jiP7yiQo+5Sji3kylH3B8fDJdDhb4lQClH3JEQB8xkalbAAAAA==" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAPNqbLqnteCOBwPDgf/WNjFMDGBwxzGrPBPKvuA4dVYclP3AMT42Ecq+5ci+MgnKPuPoYp4MZV9yPHwyHcq+5ihxKgHKvuIIAKETvNNsAAAA" />
    <add key="/intelcpu/0/temperature/9/values" value="H4sIAAAAAAAEAAtY0XRPa8EdDwaGA/9NRWOYGMDgimNWeSaUfcpx6qw4KPuGY3xsIlwN+8okKPuCY3BcMpy9ZVE6lH3NUeJUAlwcADNkgQFsAAAA" />
    <add key="/intelcpu/0/temperature/10/values" value="H4sIAAAAAAAEADP71nRPa8EdDwaGA//9j0czMYDBLces8kwo+5Lj1FlxUPYDx0ktiXA1VxqT4GqC45Kh7CuOWxalw9VInEqAsq85AgCYqXGKbAAAAA==" />
    <add key="/intelcpu/0/temperature/11/values" value="H4sIAAAAAAAEAHOXbb6nteCOBwPDgf92C6KZGMDgkmNWeSaUfcpx6qw4KPuO46SWRLgalpVJUPYZR2XzZDh7y6J0uBqJUwlQ9jlHAIF0BcJsAAAA" />
    <add key="/intelcpu/0/temperature/12/values" value="H4sIAAAAAAAEAEvNbr6nteCOBwPDgf8KQdFMDGBwzTGrPBPKPuU4dVYcXHxSSyKUfcmRZWUSlH3OUdk8Gco+47hlUTqUfcVR4lQCXA0AqZOz02wAAAA=" />
    <add key="/intelcpu/0/temperature/13/values" value="H4sIAAAAAAAEAOvY2XxPa8EdDwaGA///MkczMYDBDces8kwo+4zj1FlxUPYlx0ktiXA2y8okKPuco7J5Mlz8TM4JFhgbAFKFl05gAAAA" />
    <add key="/intelcpu/0/temperature/14/values" value="H4sIAAAAAAAEAJv6oPme1oI7HgwMB/7zs0QzMYDBH0fvgEwo+4Pj1FlxUDa706SWRCib0YllZRKU/clR2TwZyv7luGVROpT9zdH8YwJcHAAg/XTBbAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADuh13JPa8EdDwaGA//TTlUzMQCBWtdxp9DYDDB7e+dxp7Kp8WD2DiA7Z0IimL0VyL4slAwXf3EhCczeCWSvZYLo3QZk88glwtkAi4z+PGwAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAJOubbmnteCOBwPDgf8/PGOYGIDgydWXLj5cGWC21/KpLq9Wx8PZZZcSwWwPINt3ZRKYnQJU3+uUDGZ7Lxd11ZqeDmYXr/jvYvwxAcxu+vzGBQBAD1XpbAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAHu+uOWe1oI7HgwMB/73TYljYgAC/2x+150GGWD27PnsrgKt8WD2t0/mrnMvJYLZa/Q4Xf+sSAKzL01QcH3nkgxmey8Xdf0wJR3MLl7x38XqYwKYXQFkAwAeEBtKbAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAOP+1HJPa8EdDwaGA/+rtycwMQDBhJmPXaZyZoDZYkD2x9XxYHb35zcu5y4lgtnpvgddDFYlgdnZQHaGRzKY3QtUkzktHczOBIpLv4aYmQVkAwAvm/eFbAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANNwaL2nteCOBwPDgf8et5KYGIDgne9Blz2cGWC21/KpLs9Wx4PZ3Z/fuDy5lAhmewDFpVdD1EdVrXaR9EkGs72B4tH16XC96X8TwOw8oJkAhQ0NpWwAAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEADNJb72nteCOBwPDgf9uf1OYGIDAyf6WiwxXBpjd+fmNS8OleDB7vR6nq/DlRDDbY/lUF9bVSWB2VNVql0XuyWC2N1B8S3M6mO0FZBf8TQCzPYFsAMFiJBRsAAAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAIva2npPa8EdDwaGA/9ZFdKZGICA78sbF2euDDD73JUtLiWX4sHsLN+DLr8vJYLZHsunutxakQRmR1WtdqnRSQazvYHiOgsh5ngB2bF/E8BsTyAbAKzSf85sAAAA" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEACtjbrunteCOBwPDgf97pDOZGIBgluBulzDDDDA7y/egS/XqeDh7z89EMNtj+VSXrpVJYLYXkF3BlQxmewPZukfSwexMoPpPvxPgbAA6tfb8bAAAAA==" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEAGvTarunteCOBwPDgf+nerKZGICAi0neNYIrA8xuF2BzTVgdD2Y/k1dyPXIjEcwWmvnYRfNUEphd0sjievgdhB1nJu669EE6mH3Fh8e19XcCmN0SIuUKAKQrVBpsAAAA" />
    <add key="/intelcpu/0/clock/9/values" value="H4sIAAAAAAAEAFtS0XZPa8EdDwaGA/9vduYyMQABmz6nK49BBpid5XvQpWF1PJjd/fmNS9WVRDA7Ayjufy4JzD4ec9eF9SyEnQMUV2OC6PVNZnR98jsBzM4EigMA3ewc8mwAAAA=" />
    <add key="/intelcpu/0/clock/10/values" value="H4sIAAAAAAAEADtyrO2e1oI7HgwMB/6br81nYgCCd74HXSTkMsDsLCD7+554MLv78xuXvAuJYHYGUPzhpSQwOxvIFt0AYecA2RHCEL0dQPXS7BD1XUA2AHeEtnJsAAAA" />
    <add key="/intelcpu/0/clock/11/values" value="H4sIAAAAAAAEABN+13ZPa8EdDwaGA//P3ClkYgCCY40srjstMsDsBXa3XFL2xIPZ13x4XA9cTASz2z+/ccm6mARmv6964GKyAcLO8T3oUi4M0RtZtdpFjR2iPgsoDgCa5XrUbAAAAA==" />
    <add key="/intelcpu/0/clock/12/values" value="H4sIAAAAAAAEAPtp3X5Pa8EdDwaGA/9P/C9mYgCCLKEPLpstMsDsjs9vXJqmxoPZ13x4XCWPJ4LZRY0sri+ZksFsm+3PXB4tTwKzV2zb6NLCBNHrtXyqyzQFiPomoDkAzqjN8mwAAAA=" />
    <add key="/intelcpu/0/clock/13/values" value="H4sIAAAAAAAEAPPvar+nteCOBwPDgf8Rf0qZGIDgwMzHLufjMsBsr+VTXRqnxoPZ3Z/fuMhvTASz030PuqR8TAKzZQV3u2RegLBXbNvoksiI0DtfAaK+D6gXAHuDLDVsAAAA" />
    <add key="/intelcpu/0/clock/14/values" value="H4sIAAAAAAAEAPPe2H5Pa8EdDwaGA/8fu1cwMQDB3OVTXUJjM8Dsrs9vXMqmxoPZ3UB2zoREMDvd96DLZaFkMDsLyH5xIQnM9gbqXcsE0esFZPPIQdTnAdUAAMBsaetsAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJug1nFPa8EdDwaGA//nXSpnYgACi5IZDqGxGWD2n5619mVT48Fs+VtHHXImJILZy/63O1wWSgazDeqO27+4kARmS722c1jLBNF7g0XFgUcOot5GqMABAD/kaqhsAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAJug1nFPa8EdDwaGA//nXSpnYoCC1e07BGBsAESvNJgkAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAJug1nFPa8EdDwaGA//nXSpnYoCC1e07BGBsAESvNJgkAAAA" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEAGus+XpXa8EdDwaGA/9X1zcxMwDBhEOldrWV2wVgbACdRn2IJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/1/values" value="" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEAFt96utdrQV3PBgYDvxvNGxiZgACE+NgB83OFCYQ2xTIrjVPArOVNgQ57ChNBrP3lQQ7NPAmwtWsaYeoWf0xyMFwUzqcfeg3Qg0AXgbiWmwAAAA=" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEADvx8etdrQV3PBgYDvxP4WpiZgACpQ1BDnFmWuwwdgNvIhOIvfpjkMNdy1MsMPah3xBxkBoAW8/rK0gAAAA=" />
    <add key="/lpc/nct6779d/voltage/4/values" value="" />
    <add key="/lpc/nct6779d/voltage/5/values" value="" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEAPto/+2u1oI7HgwMB/5b72lkZgCCtteMDpqdKUwgthcPk0PIhyA+GBsAsQexcDAAAAA=" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEAPto/+2u1oI7HgwMB/5b72lkZgACO65wh9rK7QIwNgBp1F5cJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/8/values" value="H4sIAAAAAAAEAGNO/3ZXa8EdDwaGA/81pzYyMwCB6Dp3h9rK7QIwNgDyueTbJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/9/values" value="H4sIAAAAAAAEAGNO/3ZXa8EdDwaGA/81pzYyMwDBPZU2+9rK7QIwNgDLKcBHJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEAOPc+u2u1oI7HgwMB/4ruzcyMwDB3hJhu9rK7QIwNgATaujOJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEAOPc+u2u1oI7HgwMB/4ruzcyMwDBhENfbWsrtwvA2ACNYUc4JAAAAA==" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEAOPc+u2u1oI7HgwMB/4ruzcyMwBBbD+TQ23ldgEYGwCFiV4NJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEAOPc+u2u1oI7HgwMB/4ruzcyMwAB55o59rWV2wVgbABL3UxqJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEAOPc+u2u1oI7HgwMB/4ruzcyMwDBk6XSdrWV2wVgbADZ6OFjJAAAAA==" />
    <add key="/lpc/nct6779d/temperature/0/values" value="H4sIAAAAAAAEAPPS+n5Xa8EdDwaGA/8fXWxgZgCD6Y6anSlMEPZUx1rzJCh7leOO0mQoe7ZjA28ilD3BcU07TM00R8NN6VD2ZMdDv2FqFjgCAGlEyxxsAAAA" />
    <add key="/lpc/nct6779d/temperature/1/values" value="" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEAIsK/H5Xa8EdDwaGA/8vrWpgZgADH6dlB46xwNg7SpOZIGwvpwbeRCjbw2m+qQ47jA0Av9AsHUgAAAA=" />
    <add key="/lpc/nct6779d/temperature/3/values" value="" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEAPOr+H5Xa8EdDwaGA//vNTcwM4DBFafayu0CMDYAAuhX+SQAAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEAMuY//2u1oI7HgwMB/4fiWlgZgCBhgdOmp0pTGA2wwOnWvMkJpi4RfMRFhh7TXsSXI3hpnS4mkO/E+HiAFr8x4hgAAAA" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEAGs59v2u1oI7HgwMB/6vMG1gZgADAadlB46xwNg7SpOZIGx+pwbeRCib12lNexJc3HBTOhNM/aHfiXBxACRmvYhgAAAA" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEAGs59v2u1oI7HgwMB/6vMG1gZoCC2srtAjA2AC4LhAckAAAA" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEAFtg/eOu1oI7HgwMB/73HKhnZgCCLVemu2h2pjCB2LF3p7vUmieB2RY10112lCaD2dtVp7s08CaC2a2/p7usaYeoUQ+Y7mK4KR3MjnOY7nLoN0TNLaA4AIyYICVsAAAA" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEAFtg/eOu1oI7HgwMB/73HKhnZoCC2srtAjA2AFuXOvQkAAAA" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEAFtg/eOu1oI7HgwMB/73HKhnZoCC2srtAjA2AFuXOvQkAAAA" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEAFtg/eOu1oI7HgwMB/73HKhnZoCC2srtAjA2AFuXOvQkAAAA" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEALvc+eOu1oI7HgwMB/5HFtUzMwCBubm7U23ldgEYGwBdROUNJAAAAA==" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEALu44cddrQV3PBgYDvyP9q5nZgACc3N3p9rK7QIwNgAPfsZoJAAAAA==" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEAHt2/cddrQV3PBgYDvx3U6lnZgACc3N3p9rK7QIwNgBYeYuAJAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEAHt2/cddrQV3PBgYDvx3U6lnZgCDE061ldsFYGwAmIbo/iQAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEAHt2/cddrQV3PBgYDvx3U6lnZgCDE061ldsFYGwAmIbo/iQAAAA=" />
  </appSettings>
</configuration>